# Backend (production)
NODE_ENV=production
PORT=10000


# Public frontend URL
FRONTEND_URL=https://thewayofmessiah.net
DONATION_SUCCESS_PATH=/donate/thank-you
DONATION_CANCEL_PATH=/donate


# Stripe (LIVE mode)
STRIPE_SECRET_KEY=sk_live_xxx
STRIPE_WEBHOOK_SECRET=whsec_live_xxx
# Optional if you use a shared monthly product
STRIPE_MONTHLY_PRODUCT_ID=prod_live_xxx


# Database / Auth (prod)
MONGO_URI=mongodb+srv://user:pass@cluster-prod.mongodb.net/yourdb
JWT_SECRET=super_strong_random_secret
ADMIN_USERNAME=admin
ADMIN_PASSWORD=set_a_strong_password